In [1]:
import sys
sys.path.insert(0, 'C:/Users/Franco/Documents/AnacondaProjects/Predicting_Conflicts')
from Libs import *

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
#trade_csv = pd.read_csv('C:/Users/Franco/Documents/AnacondaProjects/Predicting_Conflicts/DataCleaning/TradeBD')
trade_with_types_csv = pd.read_csv('C:/Users/Franco/Documents/AnacondaProjects/Predicting_Conflicts/DataCleaning/TradeDB/TradeWithTypes.csv')
trade_with_types_csv_copy = pd.DataFrame(trade_with_types_csv)


trade_with_types_csv['Suppliers'] = trade_with_types_csv['Suppliers'].str.strip()
trade_with_types_csv['Designation'] = trade_with_types_csv['Designation'].str.strip()
trade_with_types_csv['Recipient'] = trade_with_types_csv['Recipient'].str.strip()
trade_with_types_csv['Comments'] = trade_with_types_csv['Comments'].str.strip().str.replace('(\n)', '')
trade_with_types_csv['Year Weapon of order'] = trade_with_types_csv['Year Weapon of order'].str.strip().str.replace('\(', '').str.replace('\)', '')
trade_with_types_csv['Ordered'] = trade_with_types_csv['Ordered'].str.strip().str.replace('\(', '').str.replace('\)', '')
trade_with_types_csv['Or delivered'] = trade_with_types_csv['Or delivered'].str.strip().str.replace('\(', '').str.replace('\)', '')

index = trade_with_types_csv.index[trade_with_types_csv['Recipient'].str.contains('\*')]
index = index.tolist()
trade_with_types_csv.drop(trade_with_types_csv.index[index], inplace=True)

# Deleting rows with 'Missing[]' values
trade_with_types_csv.drop(trade_with_types_csv[trade_with_types_csv['Ordered'] == 'Missing[]'].index, inplace=True)

# Transforming the 'Ordered' column to float
trade_with_types_csv.Ordered = pd.to_numeric(trade_with_types_csv['Ordered'], errors='coerce')

In [4]:
china = trade_with_types_csv[trade_with_types_csv['Suppliers'] == 'China']

In [10]:
china = pd.DataFrame(china.groupby(['Suppliers', 'Year Weapon of order'])['Ordered'].sum())

In [11]:
china

                                Ordered
Suppliers Year Weapon of order
China     1955                     4.00
          1956                   111.00
          1957                   330.00
          1958                    40.00
          1961                     8.00
          1962                   103.00
          1963                  4039.00
          1964                   502.00
          1965                  2293.00
          1966                   612.00
          1967                    83.00
          1968                   570.00
          1969                   298.00
          1970                  1320.00
          1971                   463.00
          1972                   921.00
          1973                   293.00
          1974                   232.00
          1975                   991.00
          1976                    76.00
          1977                   207.00
          1978                   243.00
          1979                    88.00
          1980                   546.00
          1981                  3980.00
          1982                  8252.00
          1983                   344.00
          1984                   208.00
          1985                  2744.00
          1986                  2039.00
          1987                  1371.00
          1988                  2077.00
          1989                   966.00
          1990                   998.00
          1991                   467.00
          1992                  1077.00
          1993                  1911.00
          1994                   200.00
          1995                    78.00
          1996                   172.00
          1997                    63.00
          1998                  1232.00
          1999                   393.00
          2000                   629.00
          2001                   302.00
          2002                   209.00
          2003                   857.00
          2004                   552.00
          2005                  1275.00
          2006                  1832.00
          2007                   291.00
          2008                  3409.00
          2009                  1098.00
          2010                   487.00
          2011                   602.00
          2012                  1112.00
          2013                  2786.00
          2014                   583.00
          2015                  1047.00
          2016                   157.00
          2017                    72.00

In [17]:
usa = pd.DataFrame(trade_with_types_csv[trade_with_types_csv['Suppliers'] == 'United States'].groupby(['Suppliers', 'Year Weapon of order'])['Ordered'].sum())

In [18]:
usa

                                    Ordered
Suppliers     Year Weapon of order
United States 1940                    16.00
              1946                    61.00
              1947                   616.00
              1948                   615.00
              1949                  3358.00
              1950                  8261.00
              1951                  7425.00
              1952                  4011.00
              1953                  5143.00
              1954                  5661.00
              1955                 11330.00
              1956                  7494.00
              1957                  6518.00
              1958                 11186.00
              1959                  7407.00
              1960                 18494.00
              1961                  7152.00
              1962                 22327.00
              1963                  8450.00
              1964                  4529.00
              1965                  7606.00
              1966                  4790.00
              1967                  7799.00
              1968                  8452.00
              1969                  5613.00
              1970                  7159.00
              1971                 13869.00
              1972                 35045.00
              1973                 23274.00
              1974                 25266.00
              1975                 40296.00
              1976                 58124.00
              1977                 14765.00
              1978                 58199.00
              1979                 35556.00
              1980                 20007.00
              1981                 23333.00
              1982                 22448.00
              1983                  9614.00
              1984                 24903.00
              1985                 19988.00
              1986                 36191.00
              1987                 10225.00
              1988                 22069.00
              1989                  4688.00
              1990                 16504.00
              1991                  8074.00
              1992                 10118.00
              1993                  9886.00
              1994                  6120.00
              1995                 12545.00
              1996                 12070.00
              1997                  9747.00
              1998                  7466.00
              1999                  8989.00
              2000                 12328.00
              2001                 10073.00
              2002                 12608.00
              2003                 11904.00
              2004                 10838.00
              2005                 17347.00
              2006                  8500.00
              2007                 16003.00
              2008                 25102.00
              2009                 20635.00
              2010                 19202.00
              2011                 15483.00
              2012                 15170.00
              2013                 17168.00
              2014                 52505.00
              2015                 28315.00
              2016                 21162.00
              2017                 20435.00

In [22]:
trade_with_types_csv['Suppliers'].sort_values().unique()

array(['(multiple sellers)', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Belarus', 'Belgium',
       'Bosnia-Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria',
       'Canada', 'Chad', 'Chile', 'China', 'Colombia', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Czechoslovakia', 'DR Congo', 'Denmark', 'Dominican Republic',
       'East Germany (GDR)', 'Ecuador', 'Egypt', 'Eritrea', 'Estonia',
       'Ethiopia', 'FMLN (El Salvador)*', 'Fiji', 'Finland', 'France',
       'Gabon', 'Georgia', 'Germany (FRG)', 'Ghana', 'Greece',
       'Guatemala', 'Guyana', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon',
       'Libya', 'Lithuania', 'Luxembourg', 'Malawi', 'Malaysia', 'Malta',
       'Mexico', 'Moldova', 'Montenegro', 'Morocco',
       'Mujahedin (Afghanistan)*', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Yemen',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'South Africa', 'South Korea', 'South Vietnam',
       'South Yemen', 'Soviet Union', 'Spain', 'Sri Lanka', 'Sudan',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Thailand', 'Turkey',
       'UAE', 'Uganda', 'Ukraine', 'United Kingdom', 'United Nations**',
       'United States', 'Unknown supplier(s)', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Viet Nam', 'Yugoslavia', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [25]:
total = pd.DataFrame(trade_with_types_csv.groupby(['Suppliers'])['Ordered'].sum())

In [28]:
total.sort_values('Ordered', ascending=False)

                            Ordered
Suppliers
United States            1115630.00
Soviet Union              836749.00
France                    390934.00
Russia                    208625.00
Germany (FRG)             185296.00
United Kingdom            111119.00
China                      60245.00
Israel                     56167.00
Sweden                     47177.00
Norway                     23105.00
Italy                      22083.00
Czechoslovakia             21408.00
Canada                     20057.00
Ukraine                    19244.00
Turkey                     15474.00
Switzerland                14563.00
South Africa               12409.00
Netherlands                 8954.00
North Korea                 6278.00
Bulgaria                    5840.00
Belarus                     4542.00
Austria                     4348.00
Brazil                      4133.00
Poland                      3633.00
Unknown supplier(s)         3579.00
UAE                         3351.00
Belgium                     3276.00
Egypt                       3087.00
Syria                       2654.00
Spain                       2633.00
Finland                     2580.00
Romania                     2209.00
Yugoslavia                  2205.00
Australia                   1918.00
Czech Republic              1711.00
South Korea                 1517.00
Serbia                      1414.00
Libya                       1409.00
Jordan                      1378.00
Iran                        1296.00
Pakistan                    1271.00
Kazakhstan                  1246.00
Denmark                     1200.00
Ireland                     1183.00
Hungary                     1074.00
Slovakia                     928.00
India                        775.00
Qatar                        602.00
Singapore                    456.00
East Germany (GDR)           414.00
Japan                        361.00
Greece                       357.00
Iraq                         274.00
Portugal                     270.00
Nicaragua                    270.00
Saudi Arabia                 258.00
Angola                       256.00
New Zealand                  222.00
Argentina                    200.00
Kuwait                       161.00
Peru                         138.00
Montenegro                   121.00
Chile                        121.00
Georgia                      118.00
Moldova                      116.00
Bosnia-Herzegovina           111.00
Taiwan                       110.00
Kyrgyzstan                    95.00
Indonesia                     86.00
(multiple sellers)            78.00
Venezuela                     74.00
Croatia                       43.00
Zimbabwe                      40.00
Chad                          38.00
Thailand                      30.00
Cuba                          27.00
Morocco                       23.00
Uruguay                       19.00
Malaysia                      19.00
FMLN (El Salvador)*           17.00
Oman                          15.00
Lebanon                       14.00
Ethiopia                      14.00
Uzbekistan                    13.00
Estonia                       13.00
South Yemen                   12.00
Nigeria                       12.00
Albania                       12.00
Mujahedin (Afghanistan)*      10.00
Azerbaijan                    10.00
Algeria                        9.00
Slovenia                       8.00
Philippines                    7.00
Sudan                          6.00
Guyana                         6.00
Brunei                         6.00
Ghana                          5.00
Seychelles                     5.00
Iceland                        5.00
Colombia                       4.00
Uganda                         4.00
Kenya                          4.00
United Nations**               4.00
Cyprus                         3.00
South Vietnam                  3.00
Ecuador                        3.00
DR Congo                       3.00
Eritrea                        3.00
Botswana                       2.00
Viet Nam                       2.00
Bangladesh                     2.00
Malta                          2.00
Panama                         2.00
Mexico                         2.00
Niger                          2.00
Latvia                         2.00
Dominican Republic             2.00
Sri Lanka                      2.00
Senegal                        1.00
Fiji                           1.00
Gabon                          1.00
Guatemala                      1.00
Bahrain                        1.00
Costa Rica                     1.00
Bahamas                        1.00
North Yemen                    1.00
Lithuania                      1.00
Aruba                          1.00
Luxembourg                     1.00
Malawi                         1.00
Zambia                         1.00
Cote d'Ivoire                  1.00